#app {
  display: flex;
}

aside {
  width: 200px;
  height: 100vh;
  background-color: #304156;

  .slogan {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 80%;

    }
  }

  > ul {
    width: 100%;
    margin-top: 40px;

    > li {
      width: 100%;
      height: 40px;
      justify-content: center;
      display: flex;
      align-items: center;
      transition: all 0.3s;

      a {
        color: white;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

main {
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 200px );
  height: 100vh;
  background-color: #f0eeee;

  .user_info {
    width: 100%;
    display: flex;
    border-radius: 5px;
    background-color: #808595;

    .left {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        border-radius: 50%;
      }
    }

    .right {
      width: 80%;
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center;
      }
    }
  }

  .actions {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background-color: #808595;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .collection_article_all {
    margin-top: 20px;
    background-color: #808595;
    border-radius: 5px;

    p {
      text-align: center;
      margin-top: 10px;
      font-size: 18px;
    }

    .article_list {
      padding-top: 10px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .item {
        box-sizing: border-box;
        width: 33.33%;
        display: flex;
        padding: 20px;
        .left {
          width: 30%;


          img {
            width: 100%;
          }
        }

        .right{
          width: 70%;
          box-sizing: border-box;
          padding-left: 10px;

          p{
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp:2;
            -webkit-box-orient:vertical;
          }
        }


      }


    }
  }


}