{% extends 'backend/backend.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/editor-md/css/editormd.css">

    <link rel="stylesheet" href="/static/my/css/backend/add_article.css">
{% endblock %}

{% block main %}


    <div class="add_article_actions">
        <el-button type="primary">
            完善文章信息
        </el-button>
    </div>
    <el-drawer
            title="我是标题"
            :visible.sync="add_drawer"
            :direction="direction"
            :before-close="handleClose">
        <span>我来啦!</span>
    </el-drawer>
    <div id="editor">
        <textarea style="display:none;"></textarea>
    </div>

{% endblock %}
{% block js %}
    <script src="/static/editor-md/lib/marked.min.js"></script>
    <script src="/static/editor-md/lib/prettify.min.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/editor-md/editormd.min.js"></script>

    <script>
        $(function () {
            editormd('editor', {
                width: '100%',
                height: '800',
                path: '/static/editor-md/lib/',
            });
        });

    </script>
{% endblock %}