<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>后台界面</title>
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/backend/backend_base.css">

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    {% block css %}



    {% endblock %}

</head>
<body>

<div id="app">
    <aside>

        <div class="slogan">
            <img src="/static/my/img/backend/slogan.jpg" alt="">
        </div>

        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/backend/">个人中心</a></li>
            <li><a href="/backend/edit_avatar/">修改头像</a></li>
            <li><a href="/backend/reset_password">修改密码</a></li>
            <li><a href="/logout/">注销退出</a></li>
            {% if request.user.is_superuser %}
                <li><a href="/backend/add_article/">添加文章</a></li>
            {% endif %}
        </ul>
    </aside>
    <main>
        {% csrf_token %}
        {% block main %}
            <div class="user_info">
                <div class="left">
                    <img src="/static/my/img/backend/slogan.jpg" alt="">
                </div>
                <div class="right">
                    <div class="item"><span>
                    <b>用户名: </b>ymj
                </span></div>
                    <div class="item"><span>
                    <b>注册时间: </b>2022-10-24
                </span></div>
                    <div class="item"><span>
                    <b>上次登录时间: </b>2022-10-24
                </span></div>
                    <div class="item"><span>
                    <b>用户积分: </b>20
                </span></div>
                    <div class="item"><span>
                    <b>邮箱: </b>ymjd41@qq.com
                </span></div>
                    <div class="item"><span>
                    <b>手机号码: </b>12345678900
                </span></div>

                </div>

            </div>
            <div class="actions">
                <div class="item">
                    <el-button>完善信息</el-button>
                </div>
                <div class="item">
                    <el-button type="primary">修改头像</el-button>
                </div>
                <div class="item">
                    <el-button type="warning">修改密码</el-button>
                </div>
                <div class="item">
                    <el-button type="success">充值积分</el-button>
                </div>
                <div class="item">
                    <el-button type="danger">注销账号</el-button>
                </div>
            </div>

            {% block  content %}

                <div class="collection_article_all">
                    <p>我收藏的文章</p>
                    <div class="article_list">
                        <div class="item">

                            <div class="left">
                                <img src="/static/my/img/backend/slogan.jpg" alt="">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>
                                    三四点前饿哦if日sdfsgwejwhwuihfnowidbvoiqwjfbweiubISOIE非农WIS白癜风vowibdvoiwoeh赛分为平时访问破诶无法从你我IE几位能发我IE飞机</p>
                            </div>
                        </div>
                        <div class="item">

                            <div class="left">
                                <img src="/static/my/img/backend/slogan.jpg" alt="">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>三四点前饿哦if日赛分为平时访问破诶无法从你我IE几位能发我IE飞机</p>
                            </div>
                        </div>
                        <div class="item">

                            <div class="left">
                                <img src="/static/my/img/backend/slogan.jpg" alt="">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>三四点前饿哦if日赛分为平时访问破诶无法从你我IE几位能发我IE飞机</p>
                            </div>
                        </div>
                        <div class="item">

                            <div class="left">
                                <img src="/static/my/img/backend/slogan.jpg" alt="">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>三四点前饿哦if日赛分为平时访问破诶无法从你我IE几位能发我IE飞机</p>
                            </div>
                        </div>
                        <div class="item">

                            <div class="left">
                                <img src="/static/my/img/backend/slogan.jpg" alt="">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>三四点前饿哦if日赛分为平时访问破诶无法从你我IE几位能发我IE飞机</p>
                            </div>
                        </div>
                    </div>

                </div>
            {% endblock %}

        {% endblock %}


    </main>
</div>

<script src="/static/axios/axios.min.js"></script>

<script src="/static/vue/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

{% block js %}

{% endblock %}
<script>


    axios.interceptors.request.use(request => {
        if (request.method !== 'get') {
            let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            request.headers['X-CSRFToken'] = csrftoken
        }
        return request
    })
    axios.interceptors.response.use(response => {
        return response.data
    })


    new Vue({
        el: '#app',
        data: {
            //是否展开添加文章的侧边栏
            add_drawer: false,
            //选中的
            add_article_activeNames: ['1'],
            //文章分类的id
            category_id: '',
            //选中的文章标签
            tags: [],
            //文章标签列表
            //是否上推荐
            recommend: false,
            //是否需要密码查看
            pwd_active: false,
            //文章密码
            pwd: "",
            //文章封面id
            cover_id: '',
            //文章标题
            title: '',
            // 文章简介
            abstract: ''
        },

        created() {

            let img = document.getElementById('cover_img')
            let path = location.pathname
            let index = path.indexOf('add_article')
            if (index != -1) {
                this.init_add_article(img)
            } else {
                this.init_edit_article(img)
            }
        },

        methods: {
            add_handleClose(done) {
                done()
            },

            //添加文章和编辑文章
            add_edit_article() {
                let data = {
                    title: this.title,
                    cover_id: this.cover_id,
                    pwd: this.pwd,
                    recommend: this.recommend,
                    tags: this.tags,
                    category: this.category_id,
                    abstract: this.abstract,
                    content: editor.querySelector('.editormd-markdown-textarea').value
                }
                return data
            },

            //添加文章和编辑文章的回调

            add_edit_article_callback(res) {
                if (res.code) {
                    this.$message.error(res.msg)
                    return
                }
                this.$message.success(res.msg)
                setTimeout(() => {
                    location.href = `/article/${res.data}/`
                }, 1000)

            },
            //添加文章函数
            add_article() {

                let data = this.add_edit_article()
                axios.post('/api/article/', data).then(res => {
                    this.add_edit_article_callback(res)
                })
            },

            //编辑文章
            edit_article(nid) {
                let data = this.add_edit_article()

                axios.put(`/api/article/${nid}/`, data).then(res => {
                    this.add_edit_article_callback(res)
                })

            },

            //选择图片
            select_cover(val) {
                setTimeout(() => {
                    let v = document.querySelector('.article_cover input').value
                    let cover = document.getElementById('cover_img')
                    cover.src = v
                }, 1)
            },

            //编辑文章的初始化
            init_edit_article(img) {

                let box = document.getElementById('edit_info')
                this.title = box.getAttribute('data_title')
                this.abstract = box.getAttribute('data_abstract')
                let recommend = box.getAttribute('data_recommend')
                if (recommend === 'True') {
                    this.recommend = true
                } else {
                    this.recommend = false
                }

                this.cover_id = box.getAttribute('data_cover_id')

                let cover_url = box.getAttribute('data_cover_url')
                img.setAttribute('src', cover_url)

                let category_id = box.getAttribute('data_category')
                if (category_id !== 'None') {
                    this.category_id = category_id
                }
                this.tags = eval(box.getAttribute('data_tags'))
                let pwd = box.getAttribute('data_pwd')
                if (pwd !== 'None') {
                    this.pwd = pwd
                    this.pwd_active = true
                }

            },

            //添加文章的初始化
            init_add_article(img) {
                let cover_list = eval(img.getAttribute('data'))
                let item = cover_list[Math.floor(Math.random() * cover_list.length)]
                img.setAttribute('src', item.url)
                this.cover_id = item.nid.toString()
            }
        }

    })
</script>


</body>
</html>