/* Error: expected "{".
 *    ,
 * 38 | >>>>>>> MyBlog/文章搜索
 *    |                    ^
 *    '
 *   pager.scss 38:20  @import
 *   index.scss 1:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 38 \2502  >>>>>>> MyBlog/\6587 \7ae0 \641c \7d22 \d\a    \2502                     ^\a    \2575 \a   pager.scss 38:20  @import\a   index.scss 1:9    root stylesheet';
}
