{% extends 'index.html' %}
{% load my_tag %}

{% block css %}
    <link rel="stylesheet" href="/static/editor-md/css/editormd.css"/>

    <link rel="stylesheet" href="/static/my/css/article.css">
{% endblock %}

{% block banner %}
    {% banner 'article' article %}
{% endblock %}

{% block main %}


    <div class="article">


        <div class="slider_bar">
            <div class="title">
                悬浮目录
            </div>
            <div class="body">
                <p class="H1">
                    什么是java
                </p>
                <p class="H2">
                    java的解读weifneuignveiurbguiergbi
                </p>
                <p class="H3">
                    java的解读
                </p>
                <p class="H4">
                    java的解读
                </p>
                <p class="H5">
                    java的解读
                </p>
                <p class="H6">
                    java的解读
                </p>
            </div>
        </div>

        <div class="article_title">
            <h2>{{ article.title }}</h2>
            <p>
                <span>发布时间：<i>{{ article.create_date|date:'Y-m-d' }}</i></span>
                <span>作者：<i>{{ article.author }}</i></span>
                <span>来源：<i>{{ article.source }}</i></span>
            </p>
            <div>
                <i title="文章标签" class="fas fa-tags"></i>
                {% for tag in article.tag.all %}
                    <i>{{ tag.title }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="article_content" id="article_content">
            <textarea style="display: none;">{{ article.content }}</textarea>


        </div>

        <div class="comment_submit">
            <div class="title">
                你觉得文章怎么样
            </div>
            <div class="body">
                <textarea rows="10" placeholder="写下你想说的话，开始我们的对话"></textarea>

                <button class="submit_comment">发布评论</button>

            </div>
            <div class="footer">
                <p>
                    <span>49</span>人参与，<span>3</span>条评论
                </p>

            </div>
        </div>
        <div class="comment_list">
            <ul>
                <li>
                    <div class="left">
                        <img src="http://www.fengfengzhidao.com/media/avatars/20220313083504.jpg">
                    </div>

                    <div class="right">
                        <h4>ymj</h4>
                        <div class="comment_content">你好呀</div>
                        <div>
                            <img src="http://python.fengfengzhidao.com/pic/20220427072608.png">
                        </div>
                        <div class="comment_info">
                            <span>刚刚</span>
                            <div>
                                <span>点赞（0）</span>
                                <span>回复（0）</span>
                                <span class="delete">删除</span>
                            </div>
                        </div>


                        <div class="sub_comment_list">
                            <div class="sub_comment_item">

                                <div class="left">
                                    <img src="http://www.fengfengzhidao.com/media/avatars/20220313083504.jpg">

                                </div>
                                <div class="right">
                                    <h4>张三 @ ymj</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞（1）</span>
                                            <span>回复</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="sub_comment_item">

                                <div class="left">
                                    <img src="http://www.fengfengzhidao.com/media/avatars/20220313083504.jpg">

                                </div>
                                <div class="right">
                                    <h4>张三 @ ymj</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞（1）</span>
                                            <span>回复</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <img src="http://www.fengfengzhidao.com/media/avatars/20220313083504.jpg">
                    </div>

                    <div class="right">
                        <h4>ymj</h4>
                        <div class="comment_content">你好呀</div>
                        <div>
                            <img src="http://python.fengfengzhidao.com/pic/20220427072608.png">
                        </div>
                        <div class="comment_info">
                            <span>刚刚</span>
                            <div>
                                <span>点赞（0）</span>
                                <span>回复（0）</span>
                                <span class="delete">删除</span>
                            </div>
                        </div>


                        <div class="sub_comment_list">
                            <div class="sub_comment_item">

                                <div class="left">
                                    <img src="http://www.fengfengzhidao.com/media/avatars/20220313083504.jpg">

                                </div>
                                <div class="right">
                                    <h4>张三 @ ymj</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞（1）</span>
                                            <span>回复</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="sub_comment_item">

                                <div class="left">
                                    <img src="http://www.fengfengzhidao.com/media/avatars/20220313083504.jpg">

                                </div>
                                <div class="right">
                                    <h4>张三 @ ymj</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞（1）</span>
                                            <span>回复</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="/static/editor-md/lib/marked.min.js"></script>
    <script src="/static/editor-md/lib/prettify.min.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/editor-md/editormd.min.js"></script>
    <script type="text/javascript">

        $(function () {
            let editor = editormd.markdownToHTML('article_content', {
                width: '100%',
                height: '100%',
                path: '/static/editor-md/lib/',
            });
        });

    </script>
{% endblock %}