<!DOCTYPE html>
<html lang="zh">
{% load my_tag %}
<head>
    <meta charset="UTF-8">
    <title>ymj个人博客</title>
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/base.css">


    {% block css %}
        <link rel="stylesheet" href="/static/my/css/index.css">
    {% endblock %}
    <link rel="stylesheet" href="/static/fontawesome-free-5.15.4-web/css/all.min.css">
    <script src="/static/vue/vue.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/elementui/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="/static/elementui/index.js"></script>

</head>
<body>
<div id="app">
    <link rel="stylesheet" :href="'/static/my/css/theme/'+theme+'.css'">

    <nav class="nav_bg">

        <div class="left" id="dynamic_nav">
{#            <a href="/">首页</a>#}
{#            <a href="/news">新闻</a>#}
{#            <a href="/mods">心情</a>#}
{#            <a href="/history">回忆录</a>#}
{#            <a href="/about">关于</a>#}
{#            <a href="/sites">网站导航</a>#}
            {% dynamic_navigation request %}

            <div class="search">
                <input type="text" @keydown.enter="search" v-model="search_key" class="search_box"
                       placeholder="搜索你想要的内容">
                <button @click="search"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <div class="right">
            <img v-show="theme=='light'" src="/static/my/img/nav/light.svg" @click="setTheme('dark')" alt="">
            <img v-show="theme=='dark'" src="/static/my/img/nav/dark.svg" @click="setTheme('light')" alt="">


            {% if request.user.username %}
                <el-dropdown>
  <span class="el-dropdown-link">
    {{ request.user.username }}<i class="el-icon-arrow-down el-icon--right"></i>
  </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item><a href="/backend/">个人中心</a></el-dropdown-item>
                        <el-dropdown-item><a href="/backend/edit_avatar/">修改头像</a></el-dropdown-item>
                        <el-dropdown-item><a href="/backend/add_article/">发布文章</a></el-dropdown-item>
                        <el-dropdown-item><a href="/admin/">后台管理</a></el-dropdown-item>
                        <el-dropdown-item><a href="/logout/">注销退出</a></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            {% else %}
                <a href="/login">登录</a>
                <a href="#">注册</a>
            {% endif %}
        </div>


    </nav>

    {% block banner %}
        {% banner 'index' %}
    {% endblock %}
    <main>
        {% block main %}

            <div class="main">

                <div class="left">

                    <div class="boutique_article card">
                        <div class="title">
                            <h2>精选文章</h2>
                            <div class="switch_article_category">
                                <span :active="this_category==='qianduan'" @click="switch_article_category('qianduan')">前端</span>
                                <span :active="this_category==='houduan'"
                                      @click="switch_article_category('houduan')">后端</span>
                            </div>
                        </div>
                        <div class="body">
                            <ul v-show="this_category==='qianduan'" class="qianduan">
                                {% for fronted in fronted_list %}
                                    <li>
                                        <div class="left">
                                            <img src="{{ fronted.cover.url.url }}">
                                        </div>

                                        <div class="right">
                                            <h2><a href="/article/{{ fronted.nid }}/">{{ fronted.title }}</a></h2>
                                            <p>
                                                {{ fronted.abstract }}
                                            </p>
                                            <span>
                                       {{ fronted.create_date|date:'Y-m-d' }}
                                    </span>
                                        </div>
                                    </li>

                                {% endfor %}
                            </ul>


                            <ul v-show="this_category==='houduan'" class="hou">
                                {% for backend in backend_list %}
                                    <li>
                                        <div class="left">
                                            <img src="{{ backend.cover.url.url }}">
                                        </div>

                                        <div class="right">
                                            <h2><a href="/article/{{ backend.nid }}/">{{ backend.title }}</a></h2>
                                            <p>
                                                {{ backend.abstract }}
                                            </p>
                                            <span>
                                       {{ backend.create_date|date:'Y-m-d' }}
                                    </span>
                                        </div>
                                    </li>

                                {% endfor %}

                            </ul>

                        </div>
                    </div>
                    <div class="hot_list card">
                        <div class="title">
                            <h2 id="pos">今日热搜</h2>
                            <div>
                                <a href="#"> 查看更多</a>
                            </div>
                        </div>
                        <div class="body">
                            主要内容区域11

                        </div>
                    </div>
                    <div class="all_article card">
                        <div class="title">
                            <h2>博客文章</h2>

                        </div>
                        <div class="body">
                            <ul class="article_content">
                                {% for article in article_list %}
                                    <li>
                                        <div class="left">
                                            <div>
                                                <img src="{{ article.cover.url.url }}">
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h2><a href="/article/{{ article.nid }}/">{{ article.title }}</a></h2>
                                            <p>
                                                {{ article.abstract }}
                                            </p>
                                            <div class="article_info">
                                            <span>
                                                <i class="far fa-clock"></i>{{ article.create_date|date:'Y-m-d' }}
                                            </span>
                                                <span>
                                                <i class="fas fa-thumbs-up"></i>{{ article.digg_count }}
                                            </span>
                                                <span>
                                                <i class="far fa-eye"></i>{{ article.look_count }}
                                            </span>
                                                <span>
                                                <i class="fas fa-comments"></i>{{ article.comment_count }}
                                            </span>
                                                <span>
                                                <i class="fas fa-star-half-alt "></i>{{ article.collects_count }}
                                            </span>
                                            </div>
                                            <a>查看详情</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="pager">
                                {{ pager.page_html|safe }}
                            </ul>

                        </div>
                    </div>

                </div>

                <div class="right">
                    <div class="advertisement card">
                        <div class="title">
                            <h2>独家广告</h2>
                            <div>
                                <a href="#">
                                    申请
                                </a>
                            </div>
                        </div>
                        <div class="body">
                            主要内容区域
                        </div>
                    </div>
                    <div class="tags card">
                        <div class="title">
                            <h2>标签云</h2>
                        </div>
                        <div class="body">
                            <ul>

                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                            </ul>

                        </div>
                    </div>
                    <div class="site_info card">
                        <div class="title">
                            <h2>站点信息</h2>

                        </div>
                        <div class="body">
                            主要内容区域

                        </div>
                    </div>
                    <div class="links card">
                        <div class="title">
                            <h2>友情链接</h2>
                        </div>
                        <div class="body">
                            主要内容区域

                        </div>
                    </div>

                </div>
            </div>

        {% endblock %}
    </main>
    <footer>

        <div class="left">
            <p class="thank">Thank For</p>
            <p class="site_info">
                <span><img src="/static/my/img/footer/tencent.png" alt="">腾讯云服务器</span>
                <span><img src="/static/my/img/footer/tencent.png" alt="">腾讯云SSL证书</span>
                <span><img src="/static/my/img/footer/qiniu.png" alt="">七牛云储存</span>
            </p>
            <p class="version">
                <span>version</span>
                <span>4.0.0</span>
            </p>
            <p>建站日期:2022-10-21</p>
            <p class="beian"><a href=""><img src="/static/my/img/footer/badges.png">备案号</a></p>
        </div>
        <div class="right">
            <div class="contact">
                <div>
                    <img class="svg" src="/static/my/img/footer/QQ.svg">
                    <img class="qq" src="/static/my/img/footer/QQ_qrcode.jpg">
                </div>
                <div>
                    <a href="https://github.com/yd41" target="_blank"> <img class="svg"
                                                                            src="/static/my/img/footer/github.svg">
                    </a>
                </div>
                <div>
                    <a href="https://gitee.com/yd41" target="_blank"> <img class="svg"
                                                                           src="/static/my/img/footer/gitee.svg">
                    </a>
                </div>
                <div>
                    <a href="https://blog.csdn.net/qq_62384860" target="_blank">
                        <img class="svg" src="/static/my/img/footer/csdn.svg">
                    </a>
                </div>
            </div>
            <p>联系邮箱: ymjd41@qq.com</p>
        </div>


    </footer>

</div>

<script src="/static/axios/axios.min.js"></script>

<script>

    axios.interceptors.request.use(request => {
        if (request.method !== 'get') {
            let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            request.headers['X-CSRFToken'] = csrftoken
        }
        return request
    })
    axios.interceptors.response.use(response => {
        return response.data
    })
    /*
        function dynamic_navigation() {
            let a_list = document.querySelectorAll('#dynamic_nav>a')
            let path = location.pathname
            for (const a of a_list) {
                let a_href = a.getAttribute('href')
                if (a_href === path || a_href + '/' === path) {
                    a.classList.add('active')
                }
            }
        }

        dynamic_navigation()

        */

    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            theme: 'light', //默认主题
            this_category: 'qianduan',
            comment_content: '', //评论内容
            isShowSlider: false,

            slide_list: [],

            slider_text: '显示悬浮目录',
            search_key: '',


            slider_text: '显示悬浮目录'

        },
        created() {
            this.init_theme()

            let path = location.pathname
            if (path.indexOf('article') !== -1) {
                this.init_slider()

            }


            if (path.indexOf('search') !== -1) {
                this.init_search_key()
            }


            setTimeout(() => {
                this.get_sidebar()
                this.code_copy()
            }, 200)
        },
        methods: {
            init_theme() {
                //读取存储的信息
                let theme = localStorage.getItem('theme')
                if (theme) {
                    this.theme = theme
                }
            },
            //设置主题
            setTheme(themeName) {
                this.theme = themeName
                //持久化存储
                localStorage.setItem('theme', themeName)
            },
            //选择分类
            switch_article_category(categoryName) {
                this.this_category = categoryName
            },
            //发布品论
            add_comment(nid) {
                axios.post(`/api/article/comment/${nid}/`, {content: this.comment_content}).then(res => {
                    if (res.code) {
                        if (res.self) {
                            this.$refs[`comment_${res.self}`].focus();
                        }
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(() => {
                        location.reload()
                    }, 500)
                })
            },

            //将被评论的用户名写到placeholder中

            set_sub_placeholder(div, username, cid) {
                $(div).find('textarea').attr('placeholder', `@${username}`)
                $(div).find('textarea').attr('cid', cid)

            },

            //展示子评论评论列表
            show_sub_comment_list(e, username, cid) {
                let div = $(e.target).parent().parent().next()
                $(div).slideToggle()
                this.set_sub_placeholder(div, username, cid)

            },

            //子评论回复
            sub_comment_set_placeholder(e, username, cid) {
                let div = $(e.target).parents('.sub_comment_list')
                this.set_sub_placeholder(div, username, cid)

            },

            //发布子评论
            add_sub_comment(e, nid) {
                //nid 文章id
                //cid 评论id
                axios.post(`/api/article/comment/${nid}/`, {
                    content: $(e.target).prev().val(),
                    pid: $(e.target).prev().attr('cid')

                }).then(res => {
                    if (res.code) {
                        if (res.self) {
                            this.$refs[`sub_comment_${res.self}`].focus();
                        }
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(() => {
                        location.reload()
                    }, 500)
                })
            },

            //删除子评论
            delete_sub_comment(nid, aid, root_comment_id) {

                this.$confirm('此操作将永久删除该评论, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete(`/api/article/comment/${nid}/`, {
                        data: {
                            aid,
                            pid: root_comment_id
                        }
                    }).then(res => {
                        if (res.code) {
                            this.$message.error(res.msg)
                            return
                        }
                        this.$message.success(res.msg)
                        setTimeout(() => {
                            location.reload()
                        }, 500)
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消删除'
                    });
                });
            },

            //评论点赞
            comment_digg(e, nid) {
                axios.post(`/api/comment/digg/${nid}/`).then(res => {
                    if (res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    e.target.innerHTML = `点赞（${res.data}）`
                    this.$message.success(res.msg)
                })
            },

            //文章点赞
            article_digg(e, nid) {
                let dom = e.target
                dom.classList.add('show')
                axios.post(`/api/article/digg/${nid}/`).then(res => {
                    if (res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    $(dom).next().text(res.data)
                    this.$message.success(res.msg)
                })
                let timer = null
                timer = setTimeout(() => {
                    clearTimeout(timer)
                    dom.classList.remove('show')
                }, 1000)
            },

            //文章收藏
            article_collects(e, nid) {
                let dom = e.target
                dom.classList.add('show')

                axios.post(`/api/article/collects/${nid}/`).then(res => {
                    if (res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    $(dom).next().text(res.data)
                    if (res.isCollects) {
                        dom.classList.add('show')
                        return
                    }
                    dom.classList.remove('show')


                })


            },

            //回到顶部
            go_to_top() {
                $('html,body').animate({
                    scrollTop: 0
                }, 1000)
            },


            init_slider() {
                let flag = localStorage.getItem('isShowSlider')
                if (eval(flag)) {
                    this.isShowSlider = true
                    this.$nextTick(() => {
                        this.sliderChange(true)
                    })
                }
                return

            },


            // 悬浮目录是否显示
            sliderChange(val) {
                let dom = this.$refs.slider
                localStorage.setItem('isShowSlider', val)
                if (val) {
                    dom.classList.add('show')
                    this.slider_text = '关闭悬浮目录'

                    return
                }
                dom.classList.remove('show')
                this.slider_text = '显示悬浮目录'
            },

            // 悬浮目录

            get_sidebar() {
                let content = $('#article_content')
                let h_list = content.children('h1,h2,h3,h4')
                let lis = []
                for (let i = 0; i < h_list.length; i++) {
                    let c = h_list[i].innerText
                    let tagName = h_list[i].tagName
                    let tagId = h_list[i].id
                    let ele = {
                        tagName,
                        c,
                        pos: '#' + tagId
                    }
                    lis.push(ele)
                }
                lis.push({
                    tagName: 'H1',
                    c: '去评论吧!',
                    pos: '.comment_submit'
                })

                this.slide_list = lis


            },

            go_side_bar(selector, e) {

                $('.slider_bar .body>p').css('color', '')
                e.target.style.color = '#ff9800'
                let box = $(selector)
                let pos = box.offset()
                pos.top = pos.top - 80
                $('html,body').animate({
                    scrollTop: pos.top
                }, 1000)

            },

            //代码一键复制
            code_copy() {
                $('pre').each(function () {
                    let copy = $('<i title="copy" class="el-icon-document-copy code-copy"></i>')
                    $(this).append(copy)
                })
                $('pre i.code-copy').click(e => {
                    let text_list = $(e.target).prev().find('code')
                    let text = ''
                    text_list.each(function () {
                        text += $(this).text() + '\n'
                    })
                    let element = $('<textarea>' + text + '</textarea>')
                    $('body').append(element)
                    element[0].select()
                    document.execCommand('Copy')
                    element.remove()

                    //复制成功的提示信息
                    this.$message.success('复制成功!')
                })
            },


            //点击搜索
            search() {
                let box = document.querySelector('.search')

                if (!box.classList.contains('show_search')) {
                    box.classList.add('show_search')
                    return
                }

                if (!this.search_key) {
                    box.classList.remove('show_search')
                    return
                }
                //打卡标签页
                window.open('/search/?key=' + this.search_key, name = '_blank')


            },
            //初始化搜索值

            init_search_key() {

                let dom = document.querySelector('.search_key_input')
                let key = dom.getAttribute('data')
                this.search_key = key


            },

        }

    })


</script>


{% block js %}
    <script>
        //轮播图
        let menv_img = document.querySelectorAll('.dynamic_shuffl')
        let menv_length = menv_img.length
        let index = 0
        let timer = null
        clearInterval(timer)
        menv_img[menv_length - 1].style.opacity = 1
        timer = setInterval(() => {
            index++
            if (index == menv_length) {
                index = 0
            }
            for (let i of menv_img) {
                i.style.opacity = 0
            }
            menv_img[index].style.opacity = 1
        }, 5000)


        //动态导航条
        let nav = document.querySelector('.nav_bg')
        let path = location.pathname
        let slider;
        slider = document.querySelector('.slider_bar')
        let top1 = 0
        if (path.indexOf('article') !== -1) {
            top1 = $(slider).offset().top - 80
        }
        window.onscroll = function () {
            let top = document.documentElement.scrollTop
            if (top >= 200) {
                nav.classList.add('show')
            } else {
                nav.classList.remove('show')
            }
            if (slider) {
                if (top >= top1) {
                    slider.classList.add('fixed')
                } else {
                    slider.classList.remove('fixed')
                }
            }
        }
    </script>
{% endblock %}


{% block article_js %}

{% endblock %}
</body>
</html>



